@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Trivago Finance Press <strong>Home</strong> to Submit Photo for Travel Expenses Have Fun
    </p>
</div>