
@{
    ViewData["Title"] = "Seed Data";
}


<div class="row">
    <div class="col">
        <h3>Here you can find the already seed users from start</h3>
        <p>Employee Role Email: <b>employee@trivago.com</b>  Password: <b>employee</b></p>
        <p>Team Lead Role Email: <b>lead@trivago.com</b> Password: <b>lead</b></p>
        <p>Finance Role Email: <b>finance@trivago.com</b> Password: <b>finance</b></p>
        <br />
        <p>Its best if you create your own users with the roles <strong>-Note</strong> Employee and Lead must be under same depertmant for approval</p>
    </div>

</div>

