@model TrivagoFinance.Ui.ViewModels.UserVIewModel
@{
    ViewData["Title"] = "Trivago Finance";
    var error = TempData["Error"];
}
<h3 style="text-align:center">Travel Expense App</h3>
@if (error != null && error.ToString() != "")
{
    <h3 style="text-align:center" class="text-danger">@error</h3>
}
<div class="row">
    <div class="col-5">
        <form asp-action="EmployeeLoged" asp-controller="User" method="post">

            <div class="form-group row">
                <label for="inputEmail">Email</label>
                <input asp-for="Email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label for="inputPassword">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            @*<img src="~/images/trivago.png" style="width:100%" />*@ @*for extra logo*@ 
        </form>

    </div>
    <div class="col-2"></div>
    <div class="col-5">
        <form asp-action="CreateEmployee" asp-controller="User" method="post">

            <div class="form-group row">
                <label for="inputEmail">Email</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label for="inputEmail">Firstname</label>
                <input asp-for="FirstName" type="text" class="form-control" placeholder="Firstname">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label for="inputEmail">Lastname</label>
                <input asp-for="LastName" type="text" class="form-control" placeholder="Lastname">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label for="inputEmail">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label for="inputEmail">Lastname</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <select asp-for="UserRole" asp-items="Html.GetEnumSelectList<UserRoles>()" class="form-control">
                    <option value="">Please select Role</option>
                </select>
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <select asp-for="Department" asp-items="Html.GetEnumSelectList<Department>()" class="form-control">
                    <option value="">Please select Department</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

<style type="text/css">
    body {       
        background-color: #F2F2F2;
    }
</style>

