@model TrivagoFinance.Ui.ViewModels.UserVIewModel
@{
    ViewData["Title"] = "UploadPhoto";
}
<div class="row">
    <div class="col" style="text-align:center">
        @if (ViewBag.PhotoDone)
        {
            <h3>Your Photo was uploaded</h3>
            <p></p>
            <a class="btn btn-primary" asp-controller="User" asp-action="Employee">Home</a>
        }
        else
        {
            <h3>Your Photo <span style="color:red">Failed</span> to upload</h3>
            <p></p>
            <a class="btn btn-primary" asp-controller="User" asp-action="Employee">Home</a>
        }
    </div>
</div>


