@model TrivagoFinance.Ui.ViewModels.UserVIewModel
@{
    ViewData["Title"] = "UploadPhoto";
}
<div class="row">
    <div class="col" style="text-align:center">
        @if (ViewBag.PhotoDone != null)
        {
            <h3>Your Photo was uploaded</h3>
            <p></p>
            <a class="btn btn-primary" asp-controller="User" asp-action="Employee">Home</a>
        }
        else if (ViewBag.PhotoFailed != null)
        {
            <h3>Status: <span style="color:red">@ViewBag.PhotoFailed</span></h3>
            <p></p>
            <a class="btn btn-primary" asp-controller="User" asp-action="Employee">Home</a>
        }     
    </div>
</div>


