@{
    ViewData["Title"] = "Wrong Credentials";
}

<div class="row" style="text-align:center">
    <div class="col">
        <h1>Wrong Credential</h1>
    </div>
</div>
<div class="row" style="text-align:center">
    <div class="col">
        <h3>You have entered Wrong Credentials &nbsp; </h3>
        <span>
            <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Employee">Home</a>
        </span>
    </div>
</div>

